.app {
    margin: auto;
    width: 500px;
    border: 2px solid blue;
    text-align: center;
}

.main {
    width: 100%;
    clear: both;
}

.test-input {
    margin: auto;
    border: 1px solid blue;
    text-align: center;
}

.find_images {
    margin: auto;
    width: 500px;
}

.buffer_images {
    margin: auto;
    width: 400px;
    
}

.buffer {
    margin: left;
    width: 400px;
    border: 2px solid blue;
    text-align: center;
    float: left;
}